<div class="row">
    <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
            <div class="inner">
                <h3 id="kpiDonors">0</h3>
                <p>Donors</p>
            </div>
            <div class="icon"><i class="fas fa-donate"></i></div>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="small-box bg-success">
            <div class="inner">
                <h3 id="kpiPrograms">0</h3>
                <p>Programs</p>
            </div>
            <div class="icon"><i class="fas fa-project-diagram"></i></div>
            <div class="small-box-footer" style="font-size: 0.8rem;">
                <span id="kpiProgramsTrack">0</span> on track, <span id="kpiProgramsRisk">0</span> at risk
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="small-box bg-warning">
            <div class="inner">
                <h3 id="kpiTargetSessions">0</h3>
                <p>Sessions Target</p>
            </div>
            <div class="icon"><i class="fas fa-calendar-check"></i></div>
            <div class="small-box-footer" style="font-size: 0.8rem;">
                <span id="kpiCompletedSessions">0</span> completed (<span id="kpiSessionsPct">0</span>%)
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="small-box bg-danger">
            <div class="inner">
                <h3 id="kpiTargetStudents">0</h3>
                <p>Students Target</p>
            </div>
            <div class="icon"><i class="fas fa-user-graduate"></i></div>
            <div class="small-box-footer" style="font-size: 0.8rem;">
                <span id="kpiReachedStudents">0</span> reached (<span id="kpiStudentsPct">0</span>%)
            </div>
        </div>
    </div>
</div>
