<div class="row">
    <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
            <div class="inner">
                <h3 id="kpiInstructors">0</h3>
                <p>Total Instructors</p>
            </div>
            <div class="icon"><i class="fas fa-chalkboard-teacher"></i></div>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="small-box bg-success">
            <div class="inner">
                <h3 id="kpiDrivers">0</h3>
                <p>Total Drivers</p>
            </div>
            <div class="icon"><i class="fas fa-truck"></i></div>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="small-box bg-warning">
            <div class="inner">
                <h3 id="kpiStates">0</h3>
                <p>States Reached</p>
            </div>
            <div class="icon"><i class="fas fa-map-marked-alt"></i></div>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="small-box bg-danger">
            <div class="inner">
                <h3 id="kpiPrograms">0</h3>
                <p>Total Programs</p>
            </div>
            <div class="icon"><i class="fas fa-project-diagram"></i></div>
        </div>
    </div>
</div>
