<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="/" class="brand-link">
        <img src="{{ url_for('static', path='images/side-bar-img-orange.png') }}" alt="Agastya Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Agastya IDW</span>
    </a>
    <div class="sidebar">
        <nav class="mt-3">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                <!-- New Demo pages displayed in the initial stages-->
                <!--li class="nav-item">
                    <a href="/" class="nav-link {% if page_id == 'dashboard' %}active{% endif %}">
                        <i class="nav-icon fas fa-hand-holding-heart"></i>
                        <p>Overview</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/instructor-productivity" class="nav-link {% if page_id == 'instructor' %}active{% endif %}">
                        <i class="nav-icon fas fa-chalkboard-teacher"></i>
                        <p>Instructor Performance</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/program-metrics" class="nav-link {% if page_id == 'programs' %}active{% endif %}">
                        <i class="nav-icon fas fa-user-graduate"></i>
                        <p>Student Exposure</p>
                    </a>
                </li>
                <li class="nav-divider"><hr></li-->
                <!-- New Pages requested -->
                <li class="nav-item">
                    <a href="/" class="nav-link {% if page_id == 'landing' %}active{% endif %}">
                        <i class="nav-icon fas fa-home"></i>
                        <p>Home</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/overview" class="nav-link {% if page_id == 'overview' %}active{% endif %}">
                        <i class="nav-icon fas fa-chart-line"></i>
                        <p>Overview</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/program-visits" class="nav-link {% if page_id == 'program-visits' %}active{% endif %}">
                        <i class="nav-icon fas fa-school"></i>
                        <p>Program wise School Visits</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/instructor-summary"
                        class="nav-link {% if page_id == 'instructor-summary' %}active{% endif %}">
                        <i class="nav-icon fas fa-user-tie"></i>
                        <p>Instructor Summary</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/region-summary" class="nav-link {% if page_id == 'region-summary' %}active{% endif %}">
                        <i class="nav-icon fas fa-map-marked-alt"></i>
                        <p>Region Summary</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/instructor-detail"
                        class="nav-link {% if page_id == 'instructor-detail' %}active{% endif %}">
                        <i class="nav-icon fas fa-user-tag"></i>
                        <p>Instructor Detail</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/vehicle-report" class="nav-link {% if page_id == 'vehicle-report' %}active{% endif %}">
                        <i class="nav-icon fas fa-car"></i>
                        <p>Vehicle Report</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/work-days-report"
                        class="nav-link {% if page_id == 'work-days-report' %}active{% endif %}">
                        <i class="nav-icon fas fa-calendar-alt"></i>
                        <p>Work Days Report</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/attendance" class="nav-link {% if page_id == 'attendance' %}active{% endif %}">
                        <i class="nav-icon fas fa-user-check"></i>
                        <p>Attendance</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/arealead-summary"
                        class="nav-link {% if page_id == 'arealead-summary' %}active{% endif %}">
                        <i class="nav-icon fas fa-users-cog"></i>
                        <p>AreaLead Summary</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/programwise-report"
                        class="nav-link {% if page_id == 'programwise-report' %}active{% endif %}">
                        <i class="nav-icon fas fa-file-invoice"></i>
                        <p>Programwise Report</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/nationwide-dashboard"
                        class="nav-link {% if page_id == 'nationwide-dashboard' %}active{% endif %}">
                        <i class="nav-icon fas fa-flag"></i>
                        <p>Nationwide Dashboard</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/regionwise-dashboard"
                        class="nav-link {% if page_id == 'regionwise-dashboard' %}active{% endif %}">
                        <i class="nav-icon fas fa-map"></i>
                        <p>Regionwise Dashboard</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/exposure-session-dashboard"
                        class="nav-link {% if page_id == 'exposure-session-dashboard' %}active{% endif %}">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>ExposureSession Dashboard</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/performance-management-dashboard"
                        class="nav-link {% if page_id == 'performance-management-dashboard' %}active{% endif %}">
                        <i class="nav-icon fas fa-chart-line"></i>
                        <p>PerformanceManagement Dashboard</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/manpower-vehicle-dashboard"
                        class="nav-link {% if page_id == 'manpower-vehicle-dashboard' %}active{% endif %}">
                        <i class="nav-icon fas fa-truck-monster"></i>
                        <p>ManpowerVehicle Dashboard</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/instructor-feedback"
                        class="nav-link {% if page_id == 'instructor-feedback' %}active{% endif %}">
                        <i class="nav-icon fas fa-comment-dots"></i>
                        <p>Instructor Feedback</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>